body {
    font-size: 30px;
    font-weight: normal;
}
p {
    color: gray;
}
h1 {
	font-size: 60px;
}
h2 {
    font-weight: bold;
}

/* ID */
#p1 {
	color: #887CAF;
	background-color: powderblue;
	font-family: Verdana;
	font-size: 1.25em;
}
/* Class */
.p1 {
	font-size: 40px;
	color: gray;
}

#welcome {
    font-size: 1.45em;
    color: gray; 
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  @media only screen and (min-width: 700px) {
    body {
      background-color: lightgrey;
    }
  }